.aanleg {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.aanleg h2, h3, p {
  max-width: 1000px;
}


#tuinaanleg h2 {
  text-align: center;
  padding: 0 1em;
}

#tuinaanleg h3 {
  text-align: center;
  padding: 2em;
}

#tuinaanleg p {
  margin: 0 2em;
  text-align: center;
}

img {
  width: 50%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 2em;
  padding-top: 0;
}

#fotoonderhoud {
  max-width: 600px;
}

#tuinaanleg {
  padding-top: 0;
}

@media only screen and (max-width: 800px) {
  #tuinaanleg p {
    margin: 0 0.5em;
  }

  img {
    width: 90%;
  }
}

